@charset "UTF-8";

* {
font-family: Arial, Helvetica, sans-serif;


}
body {
    background-image: linear-gradient(to right,#01234028 , #04d93936);
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #01234034;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 { 
    color: #04D939;
    text-align: center;
    text-shadow: 1px 1px 2px  #15853c;
}
h2 {
    color:#03A63C ;
}
p {
    text-align: justify;
}